html {
    font-family: 'Roboto', 'Playfair Display', sans-serif, serif;
    font-size: 62.5%;
    box-sizing: border-box;
}

/* cabeçalho */

.nav-content {
    display: flex;
    width: 100%;
    padding: 3rem 0;
    background-color: #1C1C1C;
}

.logo {
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 4.5rem;
    font-weight: 600;
    font-family: Playfair Display;
    width: 61.5%;
    margin-left: 2%;
    cursor: pointer;
}

.nav {
    align-self: center;
    margin: 0 auto;
}

.list-nav {
    display: flex;
    list-style: none;
}

.item-nav {
    font-size: 2.2rem;
    font-weight: 600;
    color: #fff;
    padding-right: 5rem;
    transition: 1s;
}

.item-nav:hover {
    color: #009800;
    cursor: pointer;
}

.main {
    padding: 2%;
    color: #dcdcdc;
}

.top-session {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* sessão 01 */

.content-shopping {
    width: 64%;
}

.banner {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}

.img-banner {
    width: 100%;
    box-shadow: 0 0 3rem 0.3rem #000
}

.news-shopping {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height: 100%;
    padding: 3rem 0;
}

.headline-shopping {
    width: 50%;
    font-size: 4.5rem;
    font-weight: 600;
    color: #000080;
    text-transform: uppercase;
    letter-spacing: .15rem;
    /*word-wrap: .15rem;*/
    line-height: 1.2; 
    text-align: center;
    cursor: pointer;
    padding: 1rem;
}

/* .headline-shopping:hover {
    cursor: pointer;
    color: #009800;
} */

.secondary-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.matter-shopping {
    font-size: 1.6rem;
    text-align: center;
    letter-spacing: .1rem;
    word-wrap: .15rem;
    line-height: 1.5;
    color: #000;
    padding: 2rem 0;
}

.button-shopping {
    font-size: 2.2rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: #f8f8ff;
    width: 30rem;
    height: 7rem;
    border: solid #000080;
    border-radius: 2rem;
    background-color: #000080;
    transition: 1s;
}

.button-shopping:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* sessão 02 */

.content-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 0.4rem solid #000;
    border-radius: 3rem;
    padding: 0 2%;
    margin-left: 2%;
    background-color: #dcdcdc;
}

.title-news {
    color: #000080;
    font-size: 4.5rem;
    font-weight: 600;
    /* text-align: center; */
    margin-bottom: 5rem;
    transition: 1s;
}

.title-news:hover {
    color: #000080;
    cursor: pointer;
}

.item-news {
    list-style: none;
}

.headline-news {
    font-size: 2.25rem;
    font-weight: 600;
    /*     letter-spacing: 0.1rem;
    word-spacing: 0.1rem; */
    line-height: 1.2;
    color: #000080;
    margin-bottom: 2rem;
    transition: 1s;
}

.headline-news:hover {
    transform: scale(1.05);
    color: #009800;
    cursor: pointer;
}

.matter-news {
    font-size: 1.6rem;
    /*     letter-spacing: 0.1rem;
    word-spacing: 0.1rem; */
    line-height: 1.5;
    color: #000;
    cursor: pointer;
}

.line {
    color: transparent;
    font-size: 0.0;
    border-bottom: 2px solid #000;
    margin: 3rem 0;
}

/* sessão 03 */

.content-trending {}

.division {
    color: transparent;
    font-size: 0.0;
    border-bottom: 2px solid #dcdcdc;
    margin: 5rem 0;
}

/* .title-trending {
    font-size: 4rem;
    font-weight: 100;
    width: max-content;
    margin: 3rem auto;
    transition: 1s;
}

.title-trending:hover {
    transform: scale(1.2);
    color: red;
    cursor: pointer;
}*/

.trending {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    justify-content: center;
    grid-gap: 2% 2%;
}

.item-trending,
.bottom-session {
    display: flex;
}

.img-trending {
    max-width: 300px;
    max-height: 300px;
    margin-right: 2rem;
    box-shadow: 0 0 1rem 0.1rem #000;
    cursor: pointer;
    transition: 1s;
}

.img-trending:hover {
    transform: scale(1.10)
}

.bottom-session {}

.numbering-trending {
    position: absolute;
    font-size: 5rem;
    color: #000080;
    opacity: .5;
}

.news-trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: .1rem;
    word-spacing: .1rem;
}

.headline-trending {
    font-size: 2.2rem;
    font-weight: 600;
    color: #000080;
    /*     letter-spacing: .1rem;
    word-spacing: .1rem; */
    margin: 2rem 0;
    cursor: pointer;
    transition: 1s;
}

.headline-trending:hover {
    transform: scale(1.1);
    color: #009800;
}

.matter-trending {
    font-size: 1.6rem;
    letter-spacing: .1rem;
    word-spacing: .1rem;
    line-height: 1.5;
    color: #000;
}

/* rodapé */

footer {
    background: #1C1C1C;
    height: 30rem;
}

/* Midia querry */

 @media only screen and (min-width: 3084px) {

    .nav-content {
        width: 3084px;
    }

    .logo {
        width: 50%;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
        width: 50%;
        margin-right: 2%;
    }

    .main {
        margin: 0 55rem;
    } 

}
    
@media only screen and (max-width: 1024px) {

    .nav-content {
        width: 1024px;
        flex-direction: column;
    }

    .logo {
        font-size: 4.5rem;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: rem;
    }

    .nav {
        font-size: 1.2rem;
    }

    .list-nav {
        width: 100%;
    }

    .main {
        width: 1024px;
        padding: 0;
    }

    .top-session {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }

    .content-shopping {
        width: 100%;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    .news-shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .headline-shopping, .secondary-content {
        width: 100%;
        padding: 0;
    }

    .content-news {
        width: 80%;
        padding: 5rem 5%;
        margin: 0 auto;
    }

    .content-trending {
        width: 90%;
        padding: 0 5%;
        flex-direction: column;
        align-content: center;
    }

    .trending {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    footer {
        width: 1024px;
        margin: 5rem 0 0;
    }
}

@media only screen and (max-width: 900px) {

    .nav-content {
        width: 900px;
        flex-direction: column;
    }

    .logo {
        font-size: 4.5rem;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: rem;
    }

    .nav {
        font-size: 1.2rem;
    }

    .list-nav {
        width: 100%;
    }

    .main {
        width: 900px;
        padding: 0;
    }

    .top-session {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }

    .content-shopping {
        width: 100%;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    .news-shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .headline-shopping, .secondary-content {
        width: 100%;
        padding: 0;
    }

    .content-news {
        width: 80%;
        padding: 5rem 5%;
        margin: 0 auto;
    }

    .content-trending {
        width: 90%;
        padding: 0 5%;
        flex-direction: column;
        align-content: center;
    }

    .trending {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    footer {
        width: 900px;
        margin: 5rem 0 0;
    }
}


 

@media only screen and (max-width: 600px) {

    .nav-content {
        width: 600px;
        flex-direction: column;
    }

    .logo {
        font-size: 4.5rem;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: rem;
    }

    .nav {
        font-size: 1.2rem;
    }

    .list-nav {
        width: 100%;
    }

    .main {
        width: 600px;
        padding: 0;
    }

    .top-session {
        width: 100%;
        max-width: 100%;
        flex-direction: column;
    }

    .content-shopping {
        width: 100%;
    }

    .banner {
        width: 90%;
        margin: 0 auto;
        margin-top: 5rem;
    }

    .news-shopping {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .headline-shopping, .secondary-content {
        width: 100%;
        padding: 0;
    }

    .content-news {
        width: 80%;
        padding: 5rem 5%;
        margin: 0 auto;
    }

    .content-trending {
        width: 90%;
        padding: 0 5%;
        flex-direction: column;
        align-content: center;
    }

    .trending {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    footer {
        width: 600px;
        margin: 5rem 0 0;
    }
}


 